.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}


/*
.filter-container {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  padding: 12px;
  text-align: left;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-no-data-row {
  font-style: italic;
  color: #888;
}



.info-section {
  display: flex;
  flex-direction: column;
}



.info-label {
  font-weight: bold;
  margin-right: 5px;
}

.info-value {
  display: flex;
  align-items: center;
}

mat-checkbox {
  margin-right: 5px;
}



mat-icon {
  cursor: pointer;
 
  color: red;
 
}
*/
/* Estilo para as colunas da tabela */
.column-numero,
.column-carga,
.column-sets,
.column-repeticoes,
.column-actions {
  max-width: 80px;
  /* ajuste conforme a necessidade */
}

.column-exercicio {
  max-width: 400px;
  /* ajuste conforme a necessidade */
}

/* Estilo para os campos de entrada */
.input-small {
  max-width: 80px;
  /* ajuste conforme a necessidade */
  margin-left: -15px;
  font-size: 14px;
}

.input-medium {
  max-width: 120px;
  /* ajuste conforme a necessidade */
}

.input-large {

  position: relative;
  /* Adicionado para controle de posicionamento */
  z-index: 2;
  /* Eleva o z-index para evitar sobreposição */
  margin-left: -15px;
  font-size: 14px;
}

/* Estilo global para os campos do formulário */
mat-form-field {
  width: 100%;
  line-height: normal;
  /* Ajuste para alinhamento de linha normal */
  margin-bottom: 8px;
  /* Espaçamento abaixo do campo para evitar sobreposição */
}

/* Estilo para a caixa de seleção */
mat-autocomplete-panel {
  z-index: 9999;
  /* Garante que a lista suspensa esteja acima de outros elementos */
}

/* Estilo para os elementos internos dos campos de entrada */
.mat-input-element {
  padding: 0 5px;
  font-size: 12px;
  /* Ajuste o tamanho da fonte conforme necessário */
  height: auto;
  /* Deixa a altura se ajustar automaticamente ao conteúdo */
  box-sizing: border-box;
  /* Inclui o padding na altura total */

}

/* Certifique-se de que o autocomplete não expanda a altura da linha */
.mat-autocomplete-panel {
  max-height: 256px;
  /* Altura máxima para o painel do autocomplete */
  overflow-y: auto;
  /* Adiciona rolagem se o conteúdo for muito alto */
}

.info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.info-item {
  display: flex;
  align-items: center;
}

.input-small .mat-form-field-flex {
  height: 30px;
  /* Altura desejada */
}

.input-small .mat-form-field-infix {
  height: 28px;
  /* Um pouco menor que o flex para se ajustar dentro */
}

.input-small input.mat-input-element {
  height: 30px;
  /* Faz o input se ajustar à altura do infix */
}