<div class="container">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let ficha of fichas">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="!isEditingCadastro()">
            {{ ficha.titulo }}
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Selecione uma pessoa" aria-label="Number" matInput [formControl]="pessoa"
                [matAutocomplete]="auto" value="Ficha Leonardo 20/11/2024" [(ngModel)]="ficha.titulo">
              <mat-autocomplete #auto="matAutocomplete">
                @for (pessoa of pessoaOpcoes | async; track pessoa) {
                <mat-option [value]="pessoa">{{pessoa}}</mat-option>
                }

              </mat-autocomplete>
            </mat-form-field>
          </ng-container>




        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Verifica se é a ficha de 'Informações Gerais' -->

      <ng-container *ngIf="!isEditingCadastro()">
        <mat-icon (click)="EditingCadastro(true)">edit</mat-icon>

      </ng-container>
      <ng-container *ngIf="isEditingCadastro()">
        <mat-icon (click)="EditingCadastro(false)">check</mat-icon>

      </ng-container>

      <div class="info-block">
        <div class="info-item">
          <div class="info-item">
            <span class="info-label">Período:</span>
            <ng-container *ngIf="!isEditingCadastro()">
              <span class="info-value">{{ ficha.conteudo[1].valor }}</span>
            </ng-container>
            <ng-container *ngIf="isEditingCadastro()">
              <input value="{{ ficha.conteudo[1].valor }}" type="text" class="example-full-width">
            </ng-container>
          </div>

        </div>
        <div class="info-item">
          <span class="info-label">Data Teste Carga:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[3].valor }}</span>
          </ng-container>
          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[3].valor }}" type="text" class="example-full-width">
          </ng-container>
        </div>
      </div>

      <div class="info-block">
        <div class="info-item">
          <span class="info-label">Nível:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[9].valor }}</span>
          </ng-container>
          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[9].valor }}" type="text" class="example-full-width">
          </ng-container>

        </div>
        <div class="info-item">
          <span class="info-label">Próximo Teste Carga:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[4].valor }}</span>
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[4].valor }}" type="text" class="example-full-width">
          </ng-container>
        </div>
      </div>

      <div class="info-block">
        <div class="info-item">
          <span class="info-label">Metodo:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[2].valor }}</span>
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[2].valor }}" type="text" class="example-full-width">
          </ng-container>
        </div>
        <div class="info-item">
          <span class="info-label">Próxima Avaliação Física:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[4].valor }}</span>
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[4].valor }}" type="text" class="example-full-width">
          </ng-container>

        </div>
      </div>
      <div class="info-block">
        <div class="info-item">

          <span class="info-label">Velocidade Execução:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[6].valor }}</span>
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[6].valor }}" type="text" class="example-full-width">
          </ng-container>
        </div>
        <div class="info-item">
          <span class="info-label">Descanso:</span>
          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[7].valor }}</span>
          </ng-container>

          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[7].valor }}" type="text" class="example-full-width">
          </ng-container>

        </div>
      </div>
      <div class="info-block">
        <div class="info-item">
          <span class="info-label">Duração:</span>



          <ng-container *ngIf="!isEditingCadastro()">
            <span class="info-value">{{ ficha.conteudo[8].valor }}</span>
          </ng-container>



          <ng-container *ngIf="isEditingCadastro()">
            <input value="{{ ficha.conteudo[8].valor }}" type="text" class="example-full-width">
          </ng-container>

        </div>
        <div class="info-item">
        </div>
      </div>




      <!-- Conteúdo para outras fichas -->
      <!-- ... -->
    </mat-expansion-panel>


    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Selecione uma Ficha" aria-label="Number" matInput [formControl]="ficha"
        [matAutocomplete]="auto" value="Ficha Leonardo 20/11/2024">
      <mat-autocomplete #auto="matAutocomplete">
        @for (ficha of fichaOpcoes | async; track ficha) {
        <mat-option [value]="ficha">{{ficha}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>



    <div class="fichas-container">
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let ficha of fichaDetalhes; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ ficha.titulo }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table mat-table [dataSource]="fichaDataSource[i]" class="mat-elevation-z8">
            <!-- Define the columns here, with an additional 'actions' column for edit and delete -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="column-{{ column }}"> {{ columnHeaders[column] }} </th>
              <td mat-cell *matCellDef="let element; let j = index" class="column-{{ column }}">
                <ng-container *ngIf="!isEditing(i, j)">
                  {{ element[column] }}
                </ng-container>
                <ng-container *ngIf="isEditing(i, j) && column == 'numero'">
                  <mat-form-field class="input-small">
                    <input matInput [(ngModel)]="element[column]" type="text" placeholder="Ex. 001">
                  </mat-form-field>



                </ng-container>
                <ng-container *ngIf="isEditing(i, j) && column == 'exercicio'">
                  <mat-form-field class="input-large">
                    <input matInput type="text" placeholder="Escolha um" aria-label="Number" [formControl]="exercicio"
                      [matAutocomplete]="auto" [(ngModel)]="element[column]" (keyup.enter)="saveExercise(i, j)">
                    <mat-autocomplete #auto="matAutocomplete">
                      @for (exercicioBase of exercicioOpcoes | async; track exercicio) {
                      <mat-option [value]="exercicioBase">{{exercicioBase}}</mat-option>
                      }
                    </mat-autocomplete>



                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="isEditing(i, j) && column == 'carga'">
                  <mat-form-field class="input-small">
                    <input matInput [(ngModel)]="element[column]" type="text" placeholder="Ex. 100kg">
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="isEditing(i, j) && column == 'sets'">
                  <mat-form-field class="input-small">
                    <input matInput [(ngModel)]="element[column]" type="text" placeholder="Ex. 3">
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="isEditing(i, j) && column == 'repeticoes'">
                  <mat-form-field class="input-small">
                    <input matInput [(ngModel)]="element[column]" type="text" placeholder="Ex. 12">
                  </mat-form-field>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="column-actions"> Ações </th>
              <td mat-cell *matCellDef="let element; let j = index" class="column-actions">
                <ng-container *ngIf="isEditing(i, j)">
                  <button mat-icon-button (click)="saveExercise(i, j)">
                    <mat-icon>check</mat-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="!isEditing(i, j)">
                  <button mat-icon-button (click)="editExercise(i, j)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="removeExercise(i, j)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['numero', 'exercicio', 'carga', 'sets', 'repeticoes', 'actions']">
            </tr>
            <tr mat-row
              *matRowDef="let row; columns: ['numero', 'exercicio', 'carga', 'sets', 'repeticoes', 'actions'];"></tr>
          </table>



          <!-- Button to add a new exercise -->
          <button mat-raised-button color="primary"
            (click)="addExercise(i, {numero: ficha.conteudo.length + 1, exercicio: '', carga: '', sets: '', repeticoes: ''})">
            Adicionar Exercício
          </button>
        </mat-expansion-panel>
      </mat-accordion>







    </div>